[Desktop Entry]
Version=1.0
Type=Application
Name=Qt Creator
Comment=
Exec=bash -i -c qtcreator
Icon=/opt/qtcreator-4/qtcreator-icon.png
Path=
Terminal=false
StartupNotify=true
