[Desktop Entry]
Categories=Development;IDE;Qt;
Comment=
Exec=bash -ic '/opt/ecn/ros_management_tools/ide/open_ide qtcreator %F'
GenericName=C++ IDE for developing Qt applications
Icon=QtProject-qtcreator
MimeType=text/x-c++src;text/x-c++hdr;application/x-designer;
Name=Qt Creator
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=qtcreator
Terminal=false
TerminalOptions=
Type=Application
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=false
X-KDE-Username=
