[Desktop Entry]
Categories=Development;IDE;Qt;
Comment=QtCreator configured for ROS 2 workspaces
Exec=bash -i -c "ros2ws nohistory && qtcreator %F"
GenericName=QtCreator configured for ROS 2 workspaces
Icon=/opt/ecn/ros2.png
MimeType=text/x-qml;text/x-cmake;text/x-c++src;text/x-c++hdr;application/x-designer;
Name=Qt Creator for ROS 2
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=qtcreator
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-XFCE-Source=file:///usr/share/applications/qtcreator-ros2.desktop
