[Desktop Entry]
Version=1.0
Type=Application
Name=QtCreator-ROS2
Comment=
Exec=bash -i -c "ros2ws && qtcreator"
Icon=/opt/local_ws/ros2.png
Path=
Terminal=false
StartupNotify=false
