[Desktop Entry]
Version=1.0
Type=Application
Name=QtCreator-ROS2
Comment=
Exec=bash -i -c "ros2ws && qtcreator"
Icon=/home/ecn/.ecn_install/skel/.ros2.png
Path=
Terminal=false
StartupNotify=false
