[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ecn/Desktop/Qt Creator.desktop]
row=2
col=0

[/home/ecn/Desktop/exo-terminal-emulator.desktop]
row=3
col=0

[/home/ecn/Desktop/firefox.desktop]
row=4
col=0

[Trash]
row=0
col=0

[/home/ecn]
row=1
col=0

