[Desktop Entry]
Version=1.0
Type=Application
Name=VAL Parser
Comment=
Exec=java -jar "VAL_Parser.jar"
Icon=/usr/local/VAL_Parser/VAL_Parser.png
Path=/usr/local/VAL_Parser
Terminal=false
StartupNotify=false
